@import "../../style/base.css";
@import "../../style/layout.css";


.container{
    @apply --row-center;
    flex-direction: row;
    justify-content: center;
}
.div-container{
    margin: 20px;
    flex-direction: row;
}
.div-image{
    width: 40px;
    height: 40px;
}
.radio-text{
    font-size: var(--s3);
    color: #666666;
    margin-left: 10px;
}
